@import "../../settings/_settings.scss";

header {
	height: em(600);
	width: 100%;
	background: url('/img/index/hero/hero.jpg') no-repeat center;
	background-size: cover;
	box-shadow: $z-3;
}


.row#nav-bar {
	padding: em(20);

	.logo-container {
		#dark-logo {
			float: left;
			max-width: em(390);
		}
	}
}

nav {
	ul#main-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;

		li {
			float: left;
			// margin: 0 em(10);

			a {
				text-decoration: none;
				font-size: rem(21);
				padding: 0 rem(20);
				color: #fff;
				text-shadow: rem(2) rem(2) rem(1) #2d2d2d;

				border-right: rem(3) solid $brick-gray;

				&:hover {
					text-decoration: underline;
				}
			}

			a.active {
				font-weight: 700;
			}

			a#last {
				border: 0;
			}
		}
	}
}

