@import "../../settings/_settings.scss";

body#index {
	.hero {
		.hero-text {
			padding: 0;
			h1 {
				margin-bottom: rem(22);
			}
		}
	}	
}

@include media($width-970) {
	body#index {
		.hero {
			.hero-text {
				h1 {
					font-size: rem(46);
				}
			}
		}	
	}
}

@include media($width-770) {
	body#index {
		.hero {
			.hero-text {
				top: 45%;
				h1 {
					font-size: rem(34);
					margin-bottom: rem(10);
				}
			}
		}	
	}
}


// .hero.standard {
// 	position: relative;
// 	margin-bottom: em(50);

// 	.hero-text {
// 		position: absolute;
// 		top: 50%;
// 		width: 100%;
// 		text-align: center;
// 		padding: 0 em(20);
// 	}

// 	.hero-text.light {
// 		h1,
// 		h3 {
// 			text-shadow: rem(1) rem(2) rem(3) #000;
// 			color: #fff;
// 		}
// 	}

// 	h1,
// 	h3 {
// 		margin: 0;
// 	}

// 	h1 {
// 		font-family: $title-font-family;
// 		font-weight: $title-font-weight;
// 	}

// 	h3 {
// 		font-weight: $body-font-weight;
// 	}

// 	img {
// 		box-shadow: $z-3;
// 	}
// }




