@import "../../settings/_settings.scss";

$max-701: "only screen and (max-width : 701px)";


body#index {
	.hero {
		.hero-text {
			padding: 0;
			h1 {
				margin-bottom: rem(22);
			}

			a.button {
				font-size: rem(28);
			}
		}
	}	
}

@include media($width-970) {
	body#index {
		.hero {
			.hero-text {
				h1 {
					font-size: rem(43);
				}
			}
		}	
	}
}

@include media($width-770) {
	body#index {
		.hero {
			.hero-text {
				top: 60%;
				h1 {
					font-size: rem(34);
					margin-bottom: rem(10);
				}

				a.button {
					font-size: rem(22);
					padding: rem(13) rem(26) rem(16);
				}
			}
		}	
	}
}

@media #{$max-701} {
	body#index {
		.hero {
			.hero-text {
				h1 {
					font-size: rem(30);
					margin-bottom: rem(6);
				}
				a.button {
					font-size: rem(20);
					padding: rem(9) rem(26) rem(12);
				}
			}
		}	
	}
}
@include media($width-610) {
	body#index {
		.hero {
			height: em(360);
			background: $brick-gray url('/img/sets/ominous-downtown/hero/ominous-downtown@mobile.jpg') no-repeat center top;
			box-shadow: $z-3;

			.hero-text {
				top: 55%;

				h1 {
					font-size: rem(28);
					padding: 0 rem(22);
					margin-bottom: rem(14);
				}

				a.button {
					font-size: rem(18);
				}
			}

			img {
				visibility: hidden;
				display: none;
			}
		}
	}
}




