@import "../../settings/_settings.scss";

#index {
	.hero {
		height: em(600);
		width: 100%;
		background: url('/img/index/hero/hero.jpg') no-repeat center;
		background-size: cover;
		box-shadow: $z-3;
		margin-bottom: em(50);
	}	
}
	





