<footer>
	<div class="outer-container padding">
		<div class="row">
			<ul class="footer-menu header-font">
				<li><a href="/">HOME</a></li>
				<li><a href="/what-we-do/">SERVICES</a></li>
				<li><a href="/portfolio/">PORTFOLIO</a></li>
				<li><a href="/about-us">ABOUT</a></li>
				<li id="contact"><a href="/contact/">CONTACT</a></li>
			</ul>
		</div>
		<div class="row">
			<h6>&copy; STUDIO N CREATIONS | 2015 <a href="https://www.facebook.com/studio.n.creations" target="_blank"><img id="facebook" src="{{ site.cdn_url }}/img/footer/facebook.png" alt="Facebook Link"></a></h6>
			<h6 id="html5-powered">powered by <img src="{{ site.cdn_url }}/img/footer/html5-shield.png" alt="HTML5 Shield"></h6>
		</div>
	</div>
</footer>