<div class="overlay overlay-slidedown">
	<nav>
		<ul>
			<li class="top-level">
				<a href="/">Home</a>
			</li>
			<li class="top-level">
				<a href="/what-we-do/">What We Do</a>
			</li>
			<li class="parent">
				<a href="/portfolio/">Portfolio</a>
			</li>
			<li class="sub-item">
				<a href="/portfolio/jardin-de-france">Project Profile - Jardin de France</a>
			</li>
			<li class="top-level">
				<a href="/about-us">About Us</a>
			</li>
			<li class="top-level" id="last">
				<a href="/contact/">Contact</a>
			</li>
		</ul>
	</nav>
</div>