@import "../settings/_settings.scss";

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

@font-face {
  font-family: 'Track';
  src: url('/fonts/track/Track.eot'); /* IE9 Compat Modes */
  src: url('/fonts/track/Track.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/track/Track.woff') format('woff'), /* Modern Browsers */
       url('/fonts/track/Track.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/track/Track.svg#92ea731d3af6677905303c88689f5d55') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}