@import "../settings/_settings.scss";

$max-701: "only screen and (max-width : 701px)";

ul#main-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;

	li {
		float: left;

		a {
			text-decoration: none;
			font-size: rem(21);
			padding: 0 rem(20);
			color: #fff;
			text-shadow: rem(1) rem(2) rem(2) #000;

			border-right: rem(3) solid $brick-gray;

			&:hover {
				text-decoration: underline;
			}
		}

		a.active {
			font-weight: $header-font-weight;
		}

		a#last {
			border: 0;
		}
	}
}

@include media($width-970) {
	nav {
		padding-top: em(10);
	}
}

@include media($width-770) {
	ul#main-nav {
		li {
			a {
				font-size: rem(18);
			}
			a#last {
				padding-right: 0;
			}
		}
	}
}

@media #{$max-701} {
	nav {
		padding-top: 0;
		ul#main-nav {
			li {
				a {
					border: 0;
					padding: 0 rem(12);
				}
			}
		}
	}
}

@include media($width-610) {
	ul#main-nav {
		float: none;
		li {
			float: none;
			margin-bottom: em(8);

			a {
				padding: 0;
				font-size: rem(20);
			}
		}
	}
}

