@import "../settings/_settings.scss";



nav {
	ul#main-nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;

		li {
			float: left;

			a {
				text-decoration: none;
				font-size: rem(21);
				padding: 0 rem(20);
				color: #fff;
				text-shadow: rem(1) rem(2) rem(2) #000;

				border-right: rem(3) solid $brick-gray;

				&:hover {
					text-decoration: underline;
				}
			}

			a.active {
				font-weight: $header-font-weight;
			}

			a#last {
				border: 0;
			}
		}
	}
}

