@import "../../../../settings/_settings.scss";

body#blue-trees {
	.row {
		position: relative;
		height: 600px;

		img#img-4 {
			position: absolute;
			height: 100%;
			left: 0;
		}
		img#img-5 {
			position: absolute;
			height: 100%;
			right: 0;
		}
	}
}



